.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #777;
  color: #fff;
}

.responsive {
  width: 300px;
  padding: 10px;
}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.overlay {
  position: absolute;
  bottom: 25%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .2s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 50px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}